<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.StorageMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.wms.entity.Storage">
    <id column="id" property="id"/>
    <result column="仓库编号" property="仓库编号"/>
    <result column="仓库名称" property="仓库名称"/>
    <result column="仓库地区" property="仓库地区"/>
    <result column="仓库管理者uid" property="仓库管理者uid"/>
    <result column="仓库类别" property="仓库类别"/>
    <result column="仓库状态" property="仓库状态"/>
    <result column="备注" property="备注"/>
    <result column="仓库公告" property="仓库公告"/>
    <result column="仓库优点" property="仓库优点"/>
    <result column="仓库缺点" property="仓库缺点"/>
    <result column="租赁开始时间" property="租赁开始时间"/>
    <result column="租赁结束时间" property="租赁结束时间"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
        , 仓库编号, 仓库名称, 仓库地区, 仓库管理者uid, 仓库类别, 仓库状态, 备注, 仓库公告, 仓库优点, 仓库缺点,租赁开始时间,租赁结束时间,img0,img1
  </sql>


  <select id="storageCC" resultType="com.wms.entity.Storage">
    select *
    from storage ${ew.customSqlSegment}
  </select>

</mapper>
