<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.潜在用户细腻Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.entity.潜在用户细腻">
        <id column="id" property="id"/>
        <result column="姓名" property="姓名"/>
        <result column="电话" property="电话"/>
        <result column="问题" property="问题"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , 姓名, 电话, 问题
    </sql>
    <select id="pageCC" resultType="com.wms.entity.潜在用户细腻">
        select *
        from 潜在用户细腻 ${ew.customSqlSegment}
    </select>

</mapper>
