<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.用户数据Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.entity.用户数据">
        <id column="UID" property="uid"/>
        <result column="用户名称" property="用户名称"/>
        <result column="密码" property="密码"/>
        <result column="年龄" property="年龄"/>
        <result column="性别" property="性别"/>
        <result column="电话" property="电话"/>
        <result column="级别" property="级别"/>
        <result column="账户是否有效" property="账户是否有效"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UID
        , 用户名称, 密码, 年龄, 性别, 电话, 级别, 账户是否有效
    </sql>
    <select id="pageC" resultType="com.wms.entity.用户数据">
        select *
        from 用户数据
    </select>
    <select id="pageCC" resultType="com.wms.entity.用户数据">
        select *
        from 用户数据 ${ew.customSqlSegment}
    </select>
</mapper>
